#selectCountry:ACTIVE, #destino:ACTIVE, #selectCountry:FOCUS, #destino:FOCUS {
  color: #FFFFFF;
  background-color: #032A61; }

.select-complementarias {
  border: 0px solid #dadada !important;
  border-radius: 3px !important;
  padding: 5px !important;
  font-weight: bold !important;
  color: #424547 !important;
  width: 100%; }

.select-complementarias:ACTIVE, .select-complementarias:FOCUS {
  color: #FFFFFF;
  background-color: #032A61; }

.searchCity {
  min-width: 200px;
  width: 100%;
  color: #424547; }

.warning {
  color: #FF0000 !important;
  font-size: 14px; }

.numInputHidden, .elementHidden {
  display: none; }

.divNewLine {
  clear: left;
  padding: 3px; }

.divCell {
  float: left;
  margin-right: 2px;
  max-width: 200px;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 3px; }

.cell-complementarias {
  float: left;
  margin-right: 2px;
  width: 250px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px; }

.divCell-auto {
  float: left;
  margin-right: 2px;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 3px; }

.divCellSmall {
  float: left;
  margin-right: 2px;
  width: 90px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 3px; }

.divCell-20px {
  float: left;
  margin-right: 2px;
  width: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 3px; }

.divCell-50px {
  float: left;
  margin-right: 2px;
  width: 50px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 3px; }

.divCell-130px {
  float: left;
  margin-right: 2px;
  width: 130px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 3px; }

.divCell-100px {
  float: left;
  margin-right: 2px;
  width: 100px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 3px; }

.time-hours {
  width: 100px !important; }

.time-minutes {
  width: 100px !important; }

.hoursFligths {
  display: inline;
  margin-left: 11px;
  width: 130px !important; }

#selectsMenores select {
  width: 50px; }

.textHidden {
  display: none; }

.ui-datepicker {
  font-size: 11px; }

.ui-widget {
  font-size: 12px; }

.containerBox input {
  border: 0px solid #dadada;
  border-radius: 3px;
  padding: 5px;
  font-weight: bold; }
.containerBox select {
  border: 0px solid #dadada !important;
  border-radius: 3px !important;
  padding: 5px !important;
  font-weight: bold !important;
  color: #424547 !important;
  width: 100%;
  -moz-appearance: none;
  cursor: pointer; }

#selectCountry {
  width: 371px !important; }

.input-date {
  width: 100%;
  color: #424547; }

.input-date-home {
  width: 357px !important;
  color: #424547; }

.input-date:ACTIVE, .input-date-home:FOCUS, .input-date-home:ACTIVE, .input-date-home:FOCUS {
  color: #FFFFFF;
  background-color: #032A61; }

.ui-widget {
  font-weight: bold !important; }

.ui-widget-content {
  font-weight: bold !important;
  border: 0px solid #eee; }

.container-box-ticket {
  width: 375px !important; }

.container-box-hotel {
  min-width: 720px !important; }

.container-box-ticket {
  width: 220px !important; }

.containerBox {
  font-family: arial;
  border: 0px solid #dadada;
  width: 455px;
  background-color: #6a635b;
  opacity: 0.8;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: bold;
  padding: 15px;
  position: relative; }
  .containerBox label {
    font-size: 12px;
    font-weight: bold; }
  .containerBox input:FOCUS {
    border: 0px solid #dadada;
    border-color: #032A61;
    box-shadow: 0 0 3px #000000;
    background-color: #032A61;
    color: #FFFFFF; }

select:FOCUS, .containerBox input:ACTIVE, select:ACTIVE {
  border: 0px solid #dadada !important;
  border-color: #032A61 !important;
  box-shadow: 0 0 3px #000000 !important;
  background-color: #032A61 !important;
  color: #FFFFFF !important; }

.containerBox button {
  border: 0px solid #D8D8D8;
  border-radius: 3px;
  background-color: #F2F2F2;
  font: arial;
  font-size: 12px;
  cursor: pointer;
  width: 100px;
  height: 35px; }
  .containerBox button:HOVER {
    border-radius: 3px;
    border-color: #CED8F6;
    background-color: #D8D8D8; }

#divbuttonverpreciosbuscando {
  display: none; }

.spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out; }
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  .spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
hr {
  color: #032A61;
  border-color: #032A61; }

.titulo {
  font-size: 20px;
  text-align: left;
  margin-left: -15px;
  margin-right: -15px; }

.titulo-segundo {
  font-size: 12px;
  margin-left: -8px;
  margin-right: 38px;
  margin-top: -28px;
  position: fixed;
  text-align: left;
  width: 225px;
  z-index: 110; }

#ver_precios, .buttonForm {
  background-color: #77923d !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  opacity: 1 !important;
  border: 0 solid #d8d8d8;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  width: 100px;
  height: 35px; }

.ui-datepicker {
  background: #032A61;
  border: 1px solid #555;
  color: #EEE;
  border: 0px;
  box-shadow: 0 0 3px #000000; }

.ui-datepicker-header {
  position: relative;
  padding-bottom: 10px;
  background: #032A61 !important;
  border: 0px !important; }

.ui-widget-header {
  background: #032A61 !important; }

.ui-dialog .ui-dialog-titlebar {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold !important;
  background: #6a635b; }

.ui-dialog .ui-dialog-titlebar .ui-button {
  color: #FFFFFF !important;
  font-size: 16px !important;
  font-weight: bold !important;
  background: #6a635b !important; }

.ui-dialog .ui-dialog-titlebar .ui-state-focus {
  background: red; }

.ui-dialog {
  background: #6a635b;
  position: fixed; }

.ui-datepicker-title {
  background-color: #032A61;
  line-height: 1em !important; }

.ui-datepicker-month {
  color: #FFFFFF;
  padding: 0px !important;
  margin: 0px !important;
  background-color: #032A61; }

.ui-datepicker-year {
  color: #FFFFFF;
  background-color: #032A61; }

.ui-datepicker .ui-state-default {
  background: #032A61 !important;
  border: 0px solid #d3d3d3 !important; }

.ui-datepicker, .ui-datepicker .ui-datepicker-calendar .ui-state-default {
  color: #FFFFFF !important;
  text-align: center; }

.ui-state-active {
  border-radius: 0 !important;
  background: #032A61 !important;
  cursor: pointer !important;
  text-decoration: none !important; }

.ui-state-focus {
  border-radius: 0 !important;
  cursor: pointer !important;
  text-decoration: none !important;
  border: 0px; }

.ui-state-focus:HOVER {
  border-color: transparent;
  color: #FFFFFF !important;
  background: #008BD0 !important; }

.ui-menu, .ui-menu-item {
  background: #032A61 none repeat scroll 0 0 !important; }

.ui-datepicker-calendar td a.ui-state-hover {
  background: #008BD0 none repeat scroll 0 0 !important; }

.ui-datepicker-calendar td a.ui-state-active {
  background: #008BD0 none repeat scroll 0 0 !important; }

.ui-datepicker-calendar td a.ui-state-focus {
  background: #008BD0 none repeat scroll 0 0 !important; }

.ui-datepicker-title {
  margin: 0 2.3em;
  text-align: center; }

.ui-datepicker-year {
  display: block;
  font-size: 9px;
  margin-left: -5px; }

.ui-datepicker table {
  border-collapse: separate;
  font-size: 0.9em; }

.calendarioIcon {
  height: 19px;
  margin: 3px 182px;
  position: absolute; }

.close-dialog-icon {
  cursor: pointer;
  height: 51px;
  margin: -22px 525px 0;
  position: absolute; }

.calendarioIcon-hotel {
  height: 19px;
  margin: 3px auto;
  position: absolute;
  right: 13px; }

.calendarioIcon-tickets {
  height: 19px;
  margin: 3px 200px;
  position: absolute; }

.calendario-icon-homes {
  height: 19px;
  margin: 3px 343px;
  position: absolute; }

.calendario-icon-arrow {
  height: 25px;
  margin: 3px 175px;
  position: absolute; }

.ui-autocomplete-loading {
  background: white url("material/ring-alt.svg") right center no-repeat;
  background-size: 20px 20px; }

.spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out; }
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  .spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
#divbuttonverpreciosbuscando {
  display: none; }

.ui-corner-all {
  border: 0px; }

#airline {
  width: 91%; }

.label-hiden {
  display: none; }

.containerBox-header {
  opacity: 0.9 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.containerBox-footer {
  opacity: 1 !important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  padding-top: 9px !important;
  padding-bottom: 20px !important;
  transition-duration: 0.4s;
  transition-property: background;
  height: 5px !important;
  background-color: #77923d !important;
  font-size: 14px;
  font-weight: 500 !important; }

.containerBox-footer:HOVER {
  background-color: #008BD0 !important;
  cursor: pointer; }

.buscar-label {
  margin-top: 5px !important; }

.ui-dialog .ui-dialog-titlebar, .ui-dialog label {
  background: #6a635b none repeat scroll 0 0 !important;
  color: #FFFFFF; }

.error-input {
  border-color: #FF0000;
  box-shadow: 0 0 1em red;
  background-color: #FBEFF2; }

.error-input:-ms-input-placeholder {
  color: red !important; }

.error-input::-moz-placeholder {
  color: red !important; }

.error-input:-moz-placeholder {
  color: red !important; }

.error-input::-webkit-input-placeholder {
  color: red !important; }

.containerBox input::-webkit-input-placeholder {
  color: #000000; }
.containerBox input:-ms-input-placeholder {
  color: #000000; }
.containerBox input::-moz-placeholder {
  color: #000000; }
.containerBox input:focus::-webkit-input-placeholder {
  color: #000000 !important; }
.containerBox input:focus:-ms-input-placeholder {
  color: #000000 !important; }
.containerBox input:focus::-moz-placeholder {
  color: #000000 !important; }

#not-found-sources {
  color: #FFFFFF; }

.ui-autocomplete-input .ui-corner-all {
  color: #FFFFFF !important; }

.ui-autocomplete a {
  color: #FFFFFF !important; }

/*# sourceMappingURL=comun.css.map */
