.Home {
    height: 100%;
}

.SearchBar {
    display: flex;
    height: fit-content;
}

.SearchEngine {
    background-color: #10345C;
    flex: 2;
}

.SearchMessage {
    background-color: #EAEAEA;
    margin-left: 0.5vw;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchMessage p {
    color: #10345C;
    font-weight: 500;
    font-size: 1vw;
}

.contact-us {
    display: flex;
    justify-content: center;
    height: 2vw;
    align-items: center;
}

.contact-us p {
    color: #10345C;
    font-weight: 500;
    font-size: 1vw;
    margin-top: 0.5em;
}

.contact-us img {
    height: 100%;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.contact-us h4 {
    color: #C6144F;
    font-weight: 700;
    font-size: 1.2vw;
}

.Home h1 {
    text-align: center;
    font-weight: 300;
    font-size: 1.5vw;
    font-family: 'Roboto Condensed', sans-serif;
    color: #646478;
    border-bottom: solid 0.26vw #C6144F;
    width: fit-content;
    height: 1.9em;
    margin: auto;
}

.carouselContainer {
    padding-top: 1vw;
    padding-bottom: 2vw;
}

.carousel-item {
    height: 35vw;
    text-align: center;
}

#cerro {
    display: block;
    top: -15vw;
    position: absolute;
}

#habitaciones {
    display: block;
    top: -15vw;
    position: absolute;
}

#habitaciones2 {
    display: block;
    top: -20vw;
    position: absolute;
}

.carousel-caption {
    top: 40%;
    left: 20%;
}

.carousel-caption h5 {
    text-align: left;
    background-color: #10345C;
    width: fit-content;
    padding: 0.5vw;
}

.carousel-caption p {
    text-align: left;
    background-color: #ecececd7;
    width: fit-content;
    padding: 0.5vw;
    color: black;
}


.roomCardContainer {
   display: flex;
   justify-content: center;
   margin-top: 2vw;
   margin-bottom: 4vw;
}

.cardContainer {
    height: 18vw;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.cardContainer:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    height: 19vw;
}

.roomIMG {
    height: 100%;
}

.cardContainer div {
    background-color: #C6144F;
    height: 2vw;
    width: 100%;
}

.cardContainer div h3 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.3vw;
    font-family: 'Roboto Condensed', sans-serif;
    align-self: center;
    line-height: 2vw;
}

.servicesContainer {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 4vw;
}

.sContainer {
    height: 5vw;
    text-align: center;
    width: 300px;
}

.sContainer img {
    height: 100%;
}

.sContainer p {
    margin-top: 0.5vw;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9vw;
    color: #646478;
}
