@import "css/navBarStyle.css";
@import "css/homeStyle.css";
@import "css/footerStyle.css";

@import "css/jquery-ui-1.10.4.custom.css";
@import "css/infocenter_hotels.css";

.App {
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
  font-size: 100%;
}

.PageWrapper{
  height: fit-content;
  padding-bottom: 15.5vw;
}